p.error {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* color variables, used later in the code */
    --mainFontFrom: #d6f582;
    --mainFontTo: #b4eb1d;
    --buttonSectionFrom: rgba(233, 238, 208, 0.7);
    --buttonSectionTo: rgba(218, 218, 166, 0.3);
    --loginShadow: rgba(255, 255, 255, 0.9);
    --buttonFontFrom: #caf358;
    --buttonFontTo: #85a52f;
    --loginFrom: rgba(255, 255, 255, 0.7);
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, var(--mainFontFrom), var(--mainFontTo));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#system-name-header {
    margin-top: 0;
}

.main-page {
    min-width: 490px;
    max-width: 490px;
    min-height: 400px;
    max-height: 400px;
    padding: 2rem;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, var( --buttonSectionFrom), var(--buttonSectionTo));
    box-shadow: 0 0 2rem var(--loginShadow);
    border: 10px;
    border-color: rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

select {
    width: 100%;
    height: 40px;
    min-height: 33px;
    max-height: 33px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-size: large;
}

.register-button {
    border-radius: 2rem;
    border: 2px;
    background: linear-gradient(to right top, var(--buttonFontFrom), var(--buttonFontTo));
    width: 100%;
    font-size: large;
    min-height: 33px;
    max-height: 33px;
}

.register-button:hover {
    background: linear-gradient(to left top, var(--buttonFontFrom), var(--buttonFontTo));
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.7);
}

input {
    font-size: large;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem var(--loginFrom);
    outline: none;
    min-height: 33px;
    max-height: 33px;
    border: thin;
}

input,
input::placeholder {
    font: 20px/3 sans-serif;
}